
.ayu{
    --pplot_color0:rgb(0, 88, 251);
    --pplot_color1:rgb(255, 0, 85);
    --pplot_color2:rgb(0, 151, 0);
    --pplot_color3:rgb(255, 255, 0);
    --pplot_color4:purple;
    --pplot_color5:orange;
    --pplot_color6:cyan;
    --pplot_color7:lime;
    --pplot_color8:chocolate;
    
}
.rust{
    --pplot_color0:blue;
    --pplot_color1:red;
    --pplot_color2:green;
    --pplot_color3:yellow;
    --pplot_color4:purple;
    --pplot_color5:orange;
    --pplot_color6:cyan;
    --pplot_color7:lime;
    --pplot_color8:chocolate;
 
}
.coal{
    --pplot_color0:rgb(0, 88, 251);
    --pplot_color1:rgb(255, 0, 85);
    --pplot_color2:rgb(0, 151, 0);
    --pplot_color3:yellow;
    --pplot_color4:purple;
    --pplot_color5:orange;
    --pplot_color6:cyan;
    --pplot_color7:lime;
    --pplot_color8:chocolate;
 
}
.light{
    --pplot_color0:blue;
    --pplot_color1:red;
    --pplot_color2:green;
    --pplot_color3:yellow;
    --pplot_color4:purple;
    --pplot_color5:orange;
    --pplot_color6:cyan;
    --pplot_color7:lime;
    --pplot_color8:chocolate;
 
}
.navy{
    --pplot_color0:rgb(0, 88, 251);
    --pplot_color1:rgb(255, 0, 85);
    --pplot_color2:rgb(0, 151, 0);
    --pplot_color3:yellow;
    --pplot_color4:purple;
    --pplot_color5:orange;
    --pplot_color6:cyan;
    --pplot_color7:lime;
    --pplot_color8:chocolate;
 
}

.poloto0stroke{
    stroke-dasharray:4;
    stroke-width:2;
}
.poloto0fill{
    stroke-dasharray:4;
}

.poloto{
    width: 100%;
  font-family: "Open Sans", sans-serif;
  --poloto_fg_color:var(--fg);
  --poloto_bg_color:var(--bg);
  --poloto_color0:var(--pplot_color0);
  --poloto_color1:var(--pplot_color1);
  --poloto_color2:var(--pplot_color2);
  --poloto_color3:var(--pplot_color3);
  --poloto_color4:var(--pplot_color4);
  --poloto_color5:var(--pplot_color5);
  --poloto_color6:var(--pplot_color6);
  --poloto_color7:var(--pplot_color7);
  --poloto_color8:var(--pplot_color8);
}
