



.poloto{
    width:100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:auto;
    stroke-linecap:round;
    stroke-linejoin:round;
    font-family:Roboto,sans-serif;
    font-size:16px;
    --poloto_fg_color:var(--fg);
    --poloto_bg_color:var(--bg);
    --poloto_color0:var(--pplot_color0);
    --poloto_color1:var(--pplot_color1);
    --poloto_color2:var(--pplot_color2);
    --poloto_color3:var(--pplot_color3);
    --poloto_color4:var(--pplot_color4);
    --poloto_color5:var(--pplot_color5);
    --poloto_color6:var(--pplot_color6);
    --poloto_color7:var(--pplot_color7);
    --poloto_color8:var(--pplot_color8);
}
.poloto_background{fill:var(--poloto_bg_color,AliceBlue);}
.poloto_scatter{stroke-width:7}
.poloto_tick_line{stroke:gray;stroke-width:0.5}
.poloto_line{stroke-width:2}
.poloto_text{fill:var(--poloto_fg_color,black);}
.poloto_axis_lines{stroke:var(--poloto_fg_color,black);stroke-width:3;fill:none;stroke-dasharray:none}
.poloto_title{font-size:24px;dominant-baseline:start;text-anchor:middle;}
.poloto_xname{font-size:24px;dominant-baseline:start;text-anchor:middle;}
.poloto_yname{font-size:24px;dominant-baseline:start;text-anchor:middle;}
.poloto_legend_text{font-size:20px;dominant-baseline:middle;text-anchor:start;}
.poloto0stroke{stroke:  var(--poloto_color0,blue);}
.poloto1stroke{stroke:  var(--poloto_color1,red);}
.poloto2stroke{stroke:  var(--poloto_color2,green);}
.poloto3stroke{stroke:  var(--poloto_color3,gold);}
.poloto4stroke{stroke:  var(--poloto_color4,aqua);}
.poloto5stroke{stroke:  var(--poloto_color5,brown);}
.poloto6stroke{stroke:  var(--poloto_color6,lime);}
.poloto7stroke{stroke:  var(--poloto_color7,chocolate);}
.poloto0fill{fill:var(--poloto_color0,blue);}
.poloto1fill{fill:var(--poloto_color1,red);}
.poloto2fill{fill:var(--poloto_color2,green);}
.poloto3fill{fill:var(--poloto_color3,gold);}
.poloto4fill{fill:var(--poloto_color4,aqua);}
.poloto5fill{fill:var(--poloto_color5,brown);}
.poloto6fill{fill:var(--poloto_color6,lime);}
.poloto7fill{fill:var(--poloto_color7,chocolate);}

.ayu{
    --pplot_color0:rgb(0, 88, 251);
    --pplot_color1:rgb(255, 0, 85);
    --pplot_color2:rgb(0, 151, 0);
    --pplot_color3:rgb(255, 255, 0);
    --pplot_color4:purple;
    --pplot_color5:orange;
    --pplot_color6:cyan;
    --pplot_color7:lime;
    --pplot_color8:chocolate;
    
}
.rust{
    --pplot_color0:blue;
    --pplot_color1:red;
    --pplot_color2:green;
    --pplot_color3:yellow;
    --pplot_color4:purple;
    --pplot_color5:orange;
    --pplot_color6:cyan;
    --pplot_color7:lime;
    --pplot_color8:chocolate;
 
}
.coal{
    --pplot_color0:rgb(0, 88, 251);
    --pplot_color1:rgb(255, 0, 85);
    --pplot_color2:rgb(0, 151, 0);
    --pplot_color3:yellow;
    --pplot_color4:purple;
    --pplot_color5:orange;
    --pplot_color6:cyan;
    --pplot_color7:lime;
    --pplot_color8:chocolate;
 
}
.light{
    --pplot_color0:blue;
    --pplot_color1:red;
    --pplot_color2:green;
    --pplot_color3:yellow;
    --pplot_color4:purple;
    --pplot_color5:orange;
    --pplot_color6:cyan;
    --pplot_color7:lime;
    --pplot_color8:chocolate;
 
}
.navy{
    --pplot_color0:rgb(0, 88, 251);
    --pplot_color1:rgb(255, 0, 85);
    --pplot_color2:rgb(0, 151, 0);
    --pplot_color3:yellow;
    --pplot_color4:purple;
    --pplot_color5:orange;
    --pplot_color6:cyan;
    --pplot_color7:lime;
    --pplot_color8:chocolate;
 
}

