.mybutton {
    background-color: var(--fg); /* Green */
    border: none;
    color: var(--bg);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }